#r1 {
  width:50%;
  height:50%;
  background-color: red;
}
#userName {
  bottom: 50%;
  right: 50%;
  position: absolute;
  
}
#input {
   display:none;
}
.guest {
  background-color: blue;
  width: 30px;
  height: 20px;
}
.guest:hover {
  background-color: pink;
}
#r2 {
    width:50%;
  height:50%;
  background-color: pink;
}
#r3 {
  width:50%;
  height:50%;
  background-color: green;
}
#r4 {
  width:50%;
  height:50%;
  background-color: lightblue;
}